.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;

}

#projects {
    background-color: #e2edff;
}

#what-i-do {
    background-color: #f8f9fa;
  }
  
  #what-i-do h2 {
    font-weight: bold;
  }
  
  .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    transition: transform 0.2s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card .icon i {
    color: #e74c3c;
  }
  